#icon-home img {
    padding: 3px;
    width: 36px
}

#navbar {
    position: absolute;
    left: 0;
    right: 0;
}

.navbar-brand {
    font-weight: bolder;
    padding-left: 8px;
}

#offcanvasRight {
    width: 50vw;
}