<div id="body">
    <div id="content">
        <h2 class="display-6">{{greeting}}</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dolor dolor, fringilla id velit at, hendrerit dignissim eros. Vestibulum porttitor bibendum lacus nec scelerisque.
            Donec at vulputate mi, lobortis malesuada.
        </p>
        <button class="btn btn-lg btn-light" type="button" routerLink="/products">View Your Products</button>
    </div>
</div>